<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block title %}
      <title>Rando Cafe</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/style.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'catalog/form.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'catalog/app.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'catalog/map.css' %}" media="screen"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div id="menu-btn">
          <span class="menu"><i class="fa fa-bars"></i></span>
        </div>
        <div class="headerLeft">
          <!-- <span class="search">Search</span> -->
        </div>
        <div class="headerRight">
          <!-- <span class="search">Notification</span> -->
          <span class="search"></span>
          <p>Light/Dark : </p>
          <div class="switch">
            <i class="fas fa-moon"></i>
            <div class="btn"></div>
          </div>
          <!-- <span class="search">Account</span> -->
        </div>
      </header>

      <aside id="sidebar">
        <div class="sideBarTitle">
          <div class="sideBarBrand">
            <span class="logo">RANDO CAFE</span>
          </div>
          <span id="menu-close">&#x2716;</span>
        </div>
          {% block sidebar %}
            <ul class="sideBarList">
              {% if user.is_authenticated %}
                <li class="sideBarListItems">
                  <a href="{% url 'index' %}">Accueil</a>
                </li>
                {% if perms.catalog.can_list_all_instances %}
                <p>Informations agence</p>
                <li class="sideBarListItems">
                  <a href="{% url 'tripinstances' %}">Réservations</a>
                </li>
                <li class="sideBarListItems">
                  <a href="{% url 'clients' %}">Clients</a>
                </li>
                <li class="sideBarListItems">
                  <a href="{% url 'trips' %}">Trips</a>
                </li>
                <li class="sideBarListItems">
                  <a href="{% url 'hikings' %}">Randonnées</a>
                </li>
                <li class="sideBarListItems">
                  <a href="{% url 'roasters' %}">Micro-torréfacteurs</a>
                </li>
                {% endif %}
                <!-- {% if perms.catalog.can_list_all_instances %}
                  <li class="sideBarListItems"><a href="{% url 'managed-trips' %}">Trips en gestion</a></li>
                {% endif %} -->
              {% endif %}

            </ul>
            <ul class="sideBarList">
              {% if user.is_authenticated %}
                <p>Mes informations</p>
                <li class="sideBarListUser">Utilisateur : <a href="{% url 'profile' %}">{{ user.get_username }}</a></li>
                {% if perms.catalog.can_list_own_instances %}
                  <!--<li class="sideBarListItems"><a href="{% url 'token_obtain_pair' %}">Jeton API</a></li> -->
                  <li class="sideBarListItems"><a href="{% url 'mytrips' %}">Mes trips planifiés</a></li>
                  {% endif %}
                <li class="sideBarListItems"><a href="{% url 'logout' %}?next={% url 'login' %}">Déconnexion</a></li>
                {% else %}
                <li class="sideBarListItems"><a href="{% url 'login' %}?next={% url 'profile' %}">Connexion</a></li>
              {% endif %}
            </ul>
          {% endblock %}
      </aside>

      <main class="main-container">{% block content %}{% endblock %}
          {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">préc.</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">suiv.</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
          {% endblock %}
      </main>
      <footer>
        <ul>
          <li><a href="#">Mentions légales</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </footer>
    </div>
    <script src="{% static 'js/app.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
