{% extends "base_generic.html" %}

{% block content %}
<div class="main-title">
  <div>
    <h1>Tableau de bord Rando Café</h1>
  </div>
  {% if perms.catalog.can_list_all_instances %}
  <button class="btnCTrip">
    <a href="{% url 'tripinstance-create' %}">Créer une réservation</a>
  </button>
  {% endif %}
  <div>
    <p>Voici les chiffres actuels sur les actifs du service :</p>
  </div>
</div>
<div class="main-cards">
  <div class="card">
    <div class="card-inner">
      <h3>Clients</h3>
    </div>
    <div class="card-inner-bottom">
      <div class="card-body">
        <div>
          {{ num_client }}
        </div>
      </div>
    </div>
    <div class="card-link">
      {% if perms.catalog.can_list_all_instances %}
      <a href="{% url 'clients' %}">Détails</a>
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="card-inner">
      <h3>Trips</h3>
    </div>
    <div class="card-inner-bottom">
      <div class="card-body">
        <div>
          {{ num_trips }}
        </div>
      </div>
    </div>
    <div class="card-link">
      {% if perms.catalog.can_list_all_instances %}
      <a href="{% url 'trips' %}">Détails</a>
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="card-inner">
      <h3>Trips en cours</h3>
    </div>
    <div class="card-inner-bottom">
      <div class="card-body">
        <div>
          {{ num_tripInstances_inProgress }}
        </div>
      </div>
    </div>
    <div class="card-link">
      {% if perms.catalog.can_list_inprogress_instance %}
      <a href="{%  url 'inprogress-trips' %}">Détails</a>
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="card-inner">
      <h3>Trips planifiés</h3>
    </div>
    <div class="card-inner-bottom">
      <div class="card-body">
        <div>
          {{ num_tripInstances_booked}}
        </div>
      </div>
    </div>
    <div class="card-link">
      {% if perms.catalog.can_list_booked_instance %}
      <a href="{%  url 'booked-trips' %}">Détails</a>
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="card-inner">
      <h3>Trips en attente</h3>
    </div>
    <div class="card-inner-bottom">
      <div class="card-body">
        <div>
          {{ num_tripInstances_pending }}
        </div>
      </div>
    </div>
    <div class="card-link">
      {% if perms.catalog.can_list_pending_instance %}
      <a href="{%  url 'pending-trips' %}">Détails</a>
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="card-inner">
      <h3>Trips archivés</h3>
    </div>
    <div class="card-inner-bottom">
      <div class="card-body">
        <div>
          {{ num_tripInstances_finished }}
        </div>
      </div>
    </div>
    <div class="card-link">
      {% if perms.catalog.can_list_archived_instance %}
      <a href="{%  url 'archived-trips' %}">Détails</a>
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="card-inner">
      <h3>La carte de nos Trips</h3>
    </div>
    <div class="card-body">
      <div id="map">
      </div>
    </div>
  <div class="card-link">
    <a href="{%  url 'map' %}">ICI</a>
  </div>
  </div>
</div>
{% endblock %}
