/*@media (prefers-color-scheme: dark) {
  .grid-container, .main-container, footer, footer a {
    background-color: #444;
    color: #eee;
  }

  footer > ul a {
    color: #eee;
  }
}
*/

@media (prefers-reduce-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  .quickAccess {
    position: absolute !important;
    top: -1000px;
  }

  .quickAccess:focus {
    top: 0px;
    color: #fff;
    background-color: #000;
  }
