/*

.grid-container, .main-container, footer, footer a {
    background-color: #444;
    color: #eee;
    }

footer > ul a {
color: #eee;
}
*/

.switch {
    margin: 1.8rem;
    width: 3.8rem;
    height: 2rem;
    border: solid 2px #333;
    border-radius: 0.4rem;
    background-color:  rgb(15, 88, 106);
    position: relative;
}

.switch i{
        position: absolute;
        color: #eee;
        top: .4rem;
        right: .6rem;
}

.btn {
    margin: 0.1rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    position: absolute;
    top: -0.4px;
    left: 0.9px;
    background-color: #eee;
}

.btn-change {
    right: -0.9px;
    left: auto;
    background-color: #333;
}

.icone-change {
        left: 2rem;
        top: .7rem;
        color: #222;
}

.light {
        background-color: #eee;
}


/* DARK MODE */
.dark {
    background-color: #444;
    color: #eee;
  }

.dark > footer a {
    background-color: #444;
    color: #eee;
 }
