.tptForm {
    margin: auto;
    padding: 2rem;
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    justify-content: space-between;
  }

  .tabForm {
    padding: 1rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    border: 3px solid teal;
    border-radius: .2rem;
  }

  .tabForm tr{
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content:center;
  }

  .tabForm input{
    width: 100%;
  }

  input {
    margin: .6rem;
    padding: 0.3rem;
  }

  textarea {
    margin: .6rem;
    padding: 0.3rem;
  }

  .btnForm {
    margin-top: 1rem;
    margin-right: 3rem;
    display: flex;
    justify-content: flex-end;
  }

  .btnForm input {
    padding: 1rem;
    max-width: 30vw;
    background-color: teal;
    border-radius: 0.2rem;
    border: none;
    color: #fff;
    font-size: 1.2rem;
  }

  .btnForm a {
    margin: 0.6rem;
    padding: 1rem;
    max-width: 30vw;
    background-color: teal;
    border-radius: 0.2rem;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .btnForm .inChg {
    padding: 1rem;
    max-width: 60vw;
    background-color: teal;
    border-radius: 0.2rem;
    border: none;
    color: #fff;
    font-size: 1.2rem;
  }

  .btnForm button:hover {
    cursor: pointer;
  }

  .linkForm {
    max-width: 60vw;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }

  /*
  .linkForm a {
    color: #333;
    text-decoration: none;
    background-color: #eee;
    border-radius: 0.2rem;
  }
*/

  .linkNC a {
    color: #333;
    text-decoration: none;
    background-color: #eee;
    border-radius: 0.2rem;
  }

  select {
    margin: .6rem;
    padding: 0.6rem;
    background-color: #fff;
    border: rgb(15, 88, 106);
    border-radius: 0.2rem;
  }

  .formDelete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 0.4rem;
  }

  /* MEDIA QUERIES */

  /* Medium <= 992px */
  @media screen and (max-width: 992px) {
    .tptForm {
      max-width: 50vw;
    }

    /*
    .btnForm button {
      max-width: 20vw;
    }
    */

    .btnForm input {
      max-width: 40vw;
    }
  }

  /* Small <= 768px */
  @media screen and (max-width: 768px) {
    .tptForm {
      max-width: 50vw;
    }
  }

  /* Extra Small <= 576px */
  @media screen and (max-width: 576px) {
    .tptForm {
      max-width: 80vw;
    }

    .btnForm {
      margin: auto;
    }
  }
