/* MAP */

/*
#map {
    width: 90%;
    height: 90%;
}
*/

.mapHiking {
    margin-left: auto;
    width: 60vw;
    height: 30vw;
  }

.mapBig {
    margin-top: 3rem;
    margin-left: auto;
    width: 90%;
    height: 100%;
    position:relative;
    z-index: 10;
  }

.cardMap {
    max-height: 50vh;
    border-radius: 0.2rem;
    display: flex;
  }


/* MEDIA QUERIES */

/* Medium <= 992px */
@media screen and (max-width: 1100px) {

.mapHiking {
    width: 90%;
    height: 100%;
    position:relative;
    z-index: 10;
  }

.mapBig {
    width: 80%;
    height: 80%;
    position:relative;
    z-index: 10;
  }
}
