* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* html {
  font-size: 62.5%;
} */

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr 0.2fr;
  grid-template-areas:
    "side header header header"
    "side main main main"
    "side footer footer footer";
}

/* HEADER */
.header {
  grid-area: header;
  padding: 0 2rem 0 2rem;
  height: 16vh;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #eee;
  /* box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35); */
}

.headerRight {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #eee;
}

#menu-btn {
  display: none;
}

.menu:hover{
  cursor: pointer;
}

.menu > i {
  font-size: 2.6rem;
}

/* SIDEBAR */
#sidebar {
  grid-area: side;
  height: 100%;
  background-color: rgb(15, 88, 106);
  color: #eee;
  overflow-y: auto;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.sideBarTitle {
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  color: #eee;
}

.sideBarTitle > span {
  display: none;
}

.sideBarBrand {
  margin-top: 1rem;
  font-size: 2rem;
}

.sideBarList {
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
  font-size: 1.1rem;
}

.sideBarList p{
  margin: 0.8rem;
  color: #eee;
  font-weight: bold;
}

.sideBarListItems {
  padding: 1.4rem;
  font-size: 1.1rem;
}

.sideBarListUser {
  padding: 1.4rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.sideBarListUser a{
  font-weight: bold;
  color: #eee;
  text-decoration: none;
}

.sideBarListItems a{
  color: #eee;
  text-decoration: none;
}

.sideBarListItems:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.logo {
  font-size: 1.8rem;
}

/* MAIN */
.main-container{
  padding: 1.6rem;
  grid-area: main;
  background-color: #eee;
  overflow-y: auto;
}

.main-container a {
  color: teal;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagination {
  margin-right: 8rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

.pagination a {
  text-decoration: none;
  font-size: 1.2rem;
  color: teal;
  font-weight: bold;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.4rem;
  margin: 1.4rem 0;
}

.card {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  border-radius: 0.2rem;
}

.card:first-child {
  background-color: rgb(0, 145, 145);
  color: #eee;
}

.card:nth-child(2) {
  background-color: rgb(21, 124, 150);
  color: #eee;
}

.card:nth-child(3) {
  background-color: rgb(0, 145, 145);
  color: #eee;
}

.card:nth-child(4) {
  background-color: rgb(21, 124, 150);
  color: #eee;
}

.card:nth-child(5) {
  background-color: rgb(0, 145, 145);
  color: #eee;
}

.card:nth-child(6) {
  background-color: rgb(21, 124, 150);
  color: #eee;
}

.card:nth-child(7) {
  background-color: rgb(0, 94, 94);
  color: #eee;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  text-transform: uppercase;
}

/*
.card-inner > span {
  font-size: 1.4rem;
}
*/

.card-inner-bottom {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  gap: .6rem;
}

.card a {
  padding: 1rem;
  color: #ddd;
  text-decoration: none;
  font-size: 1.2rem;
}

.card-body{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 3rem;
}

.card-link{
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
}


ul li a {
  color: rgb(0, 94, 94);
}

/*
.listView {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tableView {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.tableView tr {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

.tableView td {
  width: 12vw;
}
*/

.listView {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tableView {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.tableViewBtnDetail {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.tableView tr {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

.tableView td {
  margin: 0.2rem;
  width: 12vw;
}

.tableViewIdent td {
  width: 60vw;
}

.tableViewBtn td {
  margin-bottom: 1.8rem;
  width: 12vw;
}

.tableViewBtnDetail td {
  margin-bottom: 1.8rem;
  width: 12vw;
}

/*
.listViewTripIns {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tableViewTripIns {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.tableViewTripIns tr {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

.tableViewTripID td{
  width: 30vw;
}

*/


.btnC {
  width: 180px;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: teal;
  border-radius: 0.2rem;
  border: none;
}

.btnCA {
  width: 180px;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #ccc;
  border-radius: 0.2rem;
  border: none;
  text-decoration: none;
  text-align: center;
}

.btnCA a {
  text-decoration: none;
}

.btnR {
  width: 100px;
  padding: 0.2rem;
  background-color: green;
  border-radius: 0.2rem;
  border: none;
}

.btnU {
  width: 100px;
  padding: 0.2rem;
  background-color: orange;
  border-radius: 0.2rem;
  border: none;
}

.btnD {
  width: 100px;
  padding: 0.2rem;
  background-color: tomato;
  border-radius: 0.2rem;
  border: none;
}

.btnDelConf {
  margin: 2rem;
  width: 200px;
  height: 60px;
  padding: 0.2rem;
  background-color: tomato;
  border-radius: 0.2rem;
  border: none;
}

.btnCTrip {
    width: 220px;
    padding: 1rem;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: teal;
    border-radius: 0.2rem;
    border: none;
}

.btnC a, .btnR a, .btnU a, .btnD a, .btnCTrip a {
  text-decoration: none;
  color: #eee;
}

.detailViewAppendix {
  margin: 3rem;
}

.detailViewBtn {
  margin-top: 4rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.detailViewBtn tr {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.detailViewBtn td {
  margin: 1rem;
  width: 12vw;
}

/* FOOTER */
footer {
  width: 100%;
  grid-area: footer;
  background: #eee;
}

footer li {
  /* text-align: center; */
  list-style: none;
}

footer ul {
  margin: 0.8em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

footer a {
  padding: 0.4rem;
  color: #333;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 0.2rem;
}

/* BTN for DARK MODE */
.switch {
  margin: 1.8rem;
  width: 3.8rem;
  height: 2rem;
  border: solid 2px #333;
  border-radius: 0.4rem;
  background-color:  rgb(15, 88, 106);
  position: relative;
}

.switch i{
    position: absolute;
    color: #eee;
    top: .4rem;
    right: .6rem;
  }

.btn {
  margin: 0.1rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  position: absolute;
  top: -0.4px;
  left: 0.9px;
  background-color: #eee;
}

.btnUpDeadline {
  padding: 0.8rem;
  width: 10vw;
  border-radius: 0.2rem;
  background-color: teal;
}

.btnUpDeadline a {
  text-decoration: none;
  color: #eee;
}

.linkProfile {
  margin-right: auto;
  padding: 0.8rem;
  color: #333;
  text-decoration: none;
  background-color: #eee;
  border: teal solid 2px;
  border-radius: 0.3rem;
}

.padMargSoft {
  margin: 1rem;
  padding: 1rem;
}

.padMargSoft h4 {
  margin-bottom: 2rem;
}

/*
.link-change {
  background-color: #444;
}
*/

.btn-change {
  right: -0.9px;
  left: auto;
  background-color: #333;
}

.icone-change {
    left: 2rem;
    top: .7rem;
    color: #222;
}

.light {
    background-color: #eee;
}

/* DARK MODE */
.dark {
  background-color: #444;
  color: #eee;
}

.dark > footer a {
  background-color: #444;
  color: #eee;
}

/*
.grid-container, .main-container, footer, footer a {
  background-color: #444;
  color: #eee;
  }

footer > ul a {
color: #eee;
}
*/

/* MEDIA QUERIES */

/* Medium <= 992px */
@media screen and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  #sidebar {
    display: none;
  }

  #menu-btn {
    display: inline;
  }

  .sideBarTitle > span {
    display: inline;
    font-size: 1.6rem;
  }

  .sideBarTitle > span:hover {
    cursor: pointer;
  }

  .sideBar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
  }

  .listView {
    margin: 0rem;
    padding: 0.2rem;
  }

}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 0;
  }

  .listView {
    margin: 0rem;
    padding: 0.2rem;
  }

  .tableView td {
    margin: 0.8rem;
    width: 10vw;
  }

  .tableViewIdent td{
    width: 80vw;
  }

  .tableViewBtn {
    margin-bottom: 1.8rem;
  }

  .tableViewBtnDetail {
    margin-bottom: 2rem;
    gap: 1.4rem;
  }

  .tabForm {
    width: 60vw;
  }

  textarea {
    width: 100%;
  }

  select {
    width: 100%;
  }

}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .headerLeft {
    display: none;
  }

  .listView {
    margin: 0rem;
    padding: 0.2rem;
  }

  .tableView td {
    margin: 0.8rem;
    width: 10vw;
  }

  .tableViewIdent td{
    width: 80vw;
  }

  .tableViewBtn {
    margin-bottom: 1.8rem;
  }

  .tableViewBtnDetail {
    margin-bottom: 2rem;
    gap: 1.4rem;
  }

  .tabForm {
    margin: auto;
    width: 80vw;
  }

  textarea {
    width: 100%;
  }

  select {
    width: 100%;
  }
}
