{% extends "base_generic.html" %}

{% block content %}
  <h1>Formulaire de connexion</h1>
  {% if form.errors %}
    <p class="text-danger">Votre adresse mail ou mot de passe ne correspondent pas. Merci de réessayer.</p>
  {% endif %}
  <p>Merci de vous identifier pour accéder au service.</p>
  <div>
    <form method="post" action="{% url 'login' %}" class="tptForm" name="loginForm">
      {% csrf_token %}
      <table>
        <tbody class="tabForm">
          <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
          </tr>
        </tbody>
      </table>
      <div class="btnForm">
        <input type="submit" value="Connexion">
      </div>
    </form>
    <div class="linkForm">
      <a href="{% url 'password_reset' %}">Mot de passe perdu ? C'est par ici.</a>
    </div>
    <div class="linkForm">
      <a href="#">Pas encore inscrit ? Demander à l'administrateur du site.</a>
    </div>
  </div>
{% endblock %}
