{% extends "base_generic.html" %}

{% block content %}
  <h1>Votre mot de passe a été changé.</h1>
  <div class="linkNC">
    <a href="{% url 'login' %}">Se connecter de nouveau ?</a>
  </div>
{% endblock %}
