{% extends "base_generic.html" %}

{% block content %}
<h1>Formulaire de renouvellement du mot de passe</h1>
  <form action="" method="post" class="tptForm">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
  <table>
    <tbody class="tabForm">
      <tr>
        <td>
          <p>Merci de renseigner votre email : </p>
        </td>
        <td>
          <p>{{ form.email }}</p>
        </td>
      </tr>
    </tbody>
  </table>
    <div class="btnForm">
    <input type="submit" value="Renouveler">
  </div>
  </form>
{% endblock %}
