{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Merci de donner (et confirmer) votre nouveau mot de passe.</p>
        <form action="" method="post" class="tptForm">
        {% csrf_token %}
            <table>
                <tbody class="tabForm">
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">Nouveau mot de passe : </label></td>
                    </tr>
                    <tr>
                            <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirmer le nouveau mot de passe :</label></td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="btnForm">
                <input type="submit" value="Renouveler" class="inChg">
            </div>
        </form>
    {% else %}
        <h1>Echec lors du changement de mot de passe.</h1>
        <p>Le lien pour changer le mot de passe ne fonctionne pas, il a peut être déjà été utilisé. Merci de renouveler votre demande de changement de mot de passe.</p>
    {% endif %}
{% endblock %}
