{% extends "base_generic.html" %}

{% block content %}

<h1>Supprimer ce client ?</h1>

<p>Êtes vous certain de vouloir supprimer ce client de la base de données : {{client.first_name}}, {{client.last_name}} - ({{ client.id }}) ?</p>

<form action="" method="POST" class="formDelete">
  {% csrf_token %}
  <input type="submit" value="Oui, supprimer" class="btnDelConf"/>
  <a href="{% url 'clients' %}" class="btnCA">Annuler</a>
</form>

{% endblock %}
