{% extends "base_generic.html" %}

{% block content %}
  <h1>Liste des clients</h1>
  <div class="listView">
    {% if client_list %}
    <table>
      <tbody class="tableView">
        {% for client in client_list %}
        <tr class="tableViewIdent">
            <td>
              {{ client.first_name }}, {{ client.last_name }}
            </td>
        </tr>
        <tr class="tableViewBtn">
            <td>
              <button class="btnR">
                <a href="{{ client.get_absolute_url }}"> Voir</a>
              </button>
            </td>
            <td>
              <button class="btnU">
                <a href="{% url 'client-update' client.id %}"> Modifier</a>
              </button>
            </td>
            <td>
              <button class="btnD">
                <a href="{% url 'client-delete' client.id %}"> Supprimer</a>
              </button>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>Il n'y a pas encore de client.</p>
    {% endif %}

    <button class="btnC">
        <a href="{% url 'client-create' %}">Ajouter un client</a>
    </button>
  </div>
{% endblock %}
