{% extends "base_generic.html" %}

{% block content %}
  <h1>Client : {{ client.first_name }}, {{ client.last_name }}</h1>
  <hr>
  <p>ID : {{ client.id}}</p>
  <p>Date de naissance : {{ client.date_of_birth}}</p>
  <p>Statut du participant : {{ client.get_status_display}}</p>
  <hr>
  <table class="tableViewBtnDetail">
  <tr>
    <td>
      <button class="btnU">
        <a href="{% url 'client-update' client.id %}"> Modifier</a>
      </button>
    </td>
    <td>
      <button class="btnD">
        <a href="{% url 'client-delete' client.id %}"> Supprimer</a>
      </button>
    </td>
  </table>

{% endblock %}v
