{% extends "base_generic.html" %}

{% block content %}
  <h1>Extend : {{ trip_instance.trip.name }}</h1>
  <p>Owner : {{ trip_instance.trip.author }}</p>
  <p {% if trip_instance.passed_dealine %} class="text-danger"{% endif %} >End date : {{ trip_instance.end_date}}</p>

  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
