{% extends "base_generic.html" %}

{% block content %}
  <h1>Liste des randonnées</h1>
  <div class="listView">
    {% if hiking_list %}
    <table>
      <tbody class="tableView">
        {% for hiking in hiking_list %}
        <tr class="tableViewIdent">
            <td>
              {{ hiking.name }}
              , (Localisation : {{hiking.marker}})
            </td>
        </tr>
        <tr class="tableViewBtn">
            <td>
              <button class="btnR">
                <a href="{{ hiking.get_absolute_url }}"> Voir</a>
              </button>
            </td>
            <td>
              <button class="btnU">
                <a href="{% url 'hiking-update' hiking.pk %}"> Modifier</a>
              </button>
            </td>
            <td>
              <button class="btnD">
                <a href="{% url 'hiking-delete' hiking.pk%}"> Supprimer</a>
              </button>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Vous n'avez pas encore de randonnée.</p>
    {% endif %}

    <button class="btnC">
        <a href="{% url 'hiking-create' %}">Ajouter une randonnée</a>
    </button>
  </div>
{% endblock %}
