{% extends "base_generic.html" %}

{% block content %}
  <h1>Randonnée : {{ hiking.name }}</h1>
  <hr>
  <div>
    <p>Description : {{ hiking.description }}</p>
    <p>Type : {{ hiking.display_type }}</p>
    <p>Niveau : {{ hiking.get_level_display }}</p>
    <p>Micro-torréfacteur : <a href="{{ hiking.roaster.get_absolute_url }}">{{ hiking.roaster }}</a></p>
  </div>

  <hr>
  <p>Localisation (point de départ de la randonnée ) :</p>
  <div class="mapHiking">

    <div id="map" class="mapHiking">
    </div>
  </div>
  <hr>
  <table class="tableViewBtnDetail">
  <tr>
    <td>
      <button class="btnU">
        <a href="{% url 'hiking-update' hiking.pk %}"> Modifier</a>
      </button>
    </td>
    <td>
      <button class="btnD">
        <a href="{% url 'hiking-delete' hiking.pk%}"> Supprimer</a>
      </button>
    </td>
</tr>
</table>
  {% load static%}
  <script src="{% static 'js/hiking.js' %}" defer data-marker="{{ hiking.marker}}"></script>
{% endblock %}
