{% extends "base_generic.html" %}

{% block content %}

<h1>Supprimer cette randonnée ?</h1>

<p>Êtes vous certain de vouloir supprimer cette randonnée de la base de données : {{ hiking.name}} ?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Oui, supprimer" class="btnDelConf"/>
  <a href="{% url 'hikings' %}" class="btnCA">Annuler</a>
</form>

{% endblock %}
