{% extends "base_generic.html" %}

{% block content %}
<h1>Formulaire d'édition d'une randonnée</h1>
<form action="" method="post" class="tptForm">
  {% csrf_token %}
  <table>
    <tbody class="tabForm">
      <tr>
        <td>
          {{ form.as_table }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="btnForm">
    <input type="submit" value="Confirmer" />
    <a href="{% url 'hikings' %}">Annuler</a>
  </div>
</form>
{% endblock %}
