{% extends "base_generic.html" %}

{% block content %}
<h1>Une carte avec nos randonnées</h1>
<div id="map" class="mapBig">
</div>
{% load static %}
<script src="{% static 'js/map.js' %}" defer></script>
{% endblock %}
