{% extends "base_generic.html" %}

{% block content %}
  <h1>Liste des géo-marqueurs</h1>
  <div class="listView">
    {% if marker_list %}
    <table>
      <tbody class="tableView">
        {% for marker in marker_list %}
        <tr class="tableViewIdent">
            <td>
              {{ marker.name }}, {{ marker.location }}
            </td>
        </tr>
        <tr class="tableViewBtn">
            <td>
              <button class="btnR">
                <a href="{{ marker.get_absolute_url }}"> Voir</a>
              </button>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Vous n'avez pas encore de géo-marqueur.</p>
    {% endif %}
  </div>
{% endblock %}
