{% extends "base_generic.html" %}

{% block content %}
  <h1>Marqueur : {{ marker.name }}</h1>

  <p>Location : {{ marker.location }}</p>

  <p>Localisation :</p>
  <div class="mapHiking">

    <div id="map" class="mapHiking">
    </div>
  </div>
{% endblock %}
