{% extends "base_generic.html" %}

{% block content %}
  <h1>Vous êtes connecté(e) en tant que : {{ user.get_username }}</h1>
  <hr>
  <div class="padMargSoft">
    <h4>Accéder directement à vos réservations (statut = planifié)</h4>
    {% if perms.catalog.can_list_own_instances %}
    <a href="{% url 'mytrips' %}" class="linkProfile">Mes trips planifiés</a></li>
    {% else %}
    <p class="text-warning">Vous n'avez pas accès à cette fonctionnalité.</p>
    {% endif %}
  </div>
  <div class="padMargSoft">
    <h4> Accéder directement à l'historique de toutes les réservations</h4>
    {% if perms.catalog.can_list_all_instances %}
    <a href="{% url 'managed-trips' %}" class="linkProfile">Historiques des trips</a></li>
    {% else %}
    <p class="text-warning">Vous n'avez pas accès à cette fonctionnalité.</p>
    {% endif %}
  </div>
  <hr>
  <div>
    {% if perms.catalog.can_list_own_instances %}
    <p>Il est nécessaire de récupérer un jeton d'authentification pour utiliser les données géograhique dans le service Rando Café.
      Vous pouvez obtenir le jeton en rentrant à nouveau vos identifiant/mot de passe ici :
    </p>
    <form method="POST">
      {% csrf_token %}
      <label>Connexion</label>
      <input type="email" id="email">
      <input type="password" id="password">
      <input id="api-call" type="submit" value="Confirmer">
  </form>
  <p id="msg"></p>
  {% endif %}
  </div>
  {% load static %}
  <script src="{% static 'js/token.js' %}" defer></script>
{% endblock %}
