{% extends "base_generic.html" %}

{% block content %}
  <h1>Liste des micro-torréfacteurs</h1>
  <div class="listView">
    {% if roaster_list %}
    <table>
      <tbody class="tableView">
        {% for roaster in roaster_list %}
        <tr class="tableViewIdent">
            <td>
              {{ roaster.name }}
            </td>
        </tr>
        <tr class="tableViewBtn">
            <td>
              <button class="btnR">
                <a href="{{ roaster.get_absolute_url }}"> Voir</a>
              </button>
            </td>
            <td>
              <button class="btnU">
                <a href="{% url 'roaster-update' roaster.id %}"> Modifier</a>
              </button>
            </td>
            <td>
              <button class="btnD">
                <a href="{% url 'roaster-delete' roaster.id %}"> Supprimer</a>
              </button>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Il n'y a pas encore de micro-torréfacteurs.</p>
    {% endif %}

    <button class="btnC">
        <a href="{% url 'roaster-create' %}">Ajouter un torréfacteur</a>
    </button>
  </div>
{% endblock %}
