{% extends "base_generic.html" %}

{% block content %}

<h1>Supprimer ce torréfacteur ?</h1>

<p>Êtes vous certain de vouloir supprimer ce micro-torréfacteur de la base de données : {{ roaster.name}} ?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Oui, supprimer" class="btnDelConf"/>
  <a href="{% url 'roasters' %}" class="btnCA">Annuler</a>
</form>

{% endblock %}
