{% extends "base_generic.html" %}

{% block content %}
  <h1>Torréfacteur : {{ roaster.name }}</h1>
  <hr>
  <p>Description : {{ roaster.description }}</p>
  <p>Adresse : {{ roaster.address }}</p>
  <p>Café(s) : {{ roaster.coffee.all|join:", " }}</p>
  <hr>
  <!-- <p>Marqueur : <a href="{{ roaster.marker.get_absolute_url }}">{{ roaster.marker }}</a></p> -->

  <p style="margin-left:20px;">Localisation :</p>
  <div class="mapHiking">

    <div id="map" class="mapHiking">
    </div>
  </div>
  <hr>
  <table class="tableViewBtnDetail">
  <tr>
    <td>
      <button class="btnU">
        <a href="{% url 'roaster-update' roaster.pk %}"> Modifier</a>
      </button>
    </td>
    <td>
      <button class="btnD">
        <a href="{% url 'roaster-delete' roaster.pk%}"> Supprimer</a>
      </button>
    </td>
</tr>
</table>
  {% load static%}
  <script src="{% static 'js/roaster.js' %}" defer data-marker="{{ roaster.marker}}"></script>
{% endblock %}
