{% extends "base_generic.html" %}

{% block content %}
  <h1>ID de la réservation : {{ tripinstance.id }}</h1>

  <p><strong>Propriétaire :</strong> {{ tripinstance.owner }}</p>
  <p><strong>Clients :</strong> {{ tripinstance.clients.all|join:" | " }}</p>
  <p><strong>Trip débute le :</strong> {{ tripinstance.start_date }}</p>
  <p><strong>Trip finit le :</strong> {{ tripinstance.end_date }}</p>

  <div class="detailViewAppendix">
    <h4>Trip</h4>
    {% if not tripinstance.trip.is_deleted %}
    <a href="{% url 'trip-detail' tripinstance.trip.pk %}">{{ tripinstance.trip.name }}</a>
     - (Auteur : {{ tripinstance.trip.author }})
      (Débute le : {{ tripinstance.start_date }})
    {% else %}
    <p class="text-warning">Il n'y a pas (ou plus) de trip associé - cette réservation est peut-être obsolète !</p>
    {% endif %}
  </div>
  <hr>
  <table class="tableViewBtnDetail">
    <tr>
        <td>
          <button class="btnU">
            <a href="{% url 'tripinstance-update' tripinstance.id %}"> Modifier</a>
          </button>
        </td>
        <td>
          <button class="btnD">
            <a href="{% url 'tripinstance-delete' tripinstance.id %}"> Supprimer</a>
          </button>
        </td>
    </tr>
  </table>
{% endblock %}
