{% extends "base_generic.html" %}

{% block content %}
    <h1>Les réservations en attente de traitement</h1>

    {% if tripinstance_list %}
      <ul>

        {% for instance in tripinstance_list %}
        <li class="{% if instance.passed_deadline %}text-danger{% endif %}">
          <a href="{% url 'tripinstance-detail' instance.pk %}">{{ instance.id }}</a> - Date de fin : {{ instance.end_date}} | (Propriétaire : {{ instance.owner}})
        </li>
        {% endfor %}
      </ul>

      {% else %}
        <p>Il n'y a pas de réservation en attente de traitement.</p>
    {% endif %}
{% endblock %}
