{% extends "base_generic.html" %}

{% block content %}

<h1>Supprimer cette instance ?</h1>

<p>Êtes vous certain de vouloir supprimer cette instance : {{ tripinstance.id }} ?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Oui, supprimer" class="btnDelConf"/>
  <a href="{% url 'tripinstances' %}" class="btnCA">Annuler</a>
</form>

{% endblock %}
