{% extends "base_generic.html" %}

{% block content %}

<h1>Supprimer ce trip ?</h1>

<p>Êtes vous certain de vouloir supprimer ce trip de la base de données : {{ trip.name }} ?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Oui, supprimer" class="btnDelConf"/>
  <a href="{% url 'trips' %}" class="btnCA">Annuler</a>
</form>

{% endblock %}
