{% extends "base_generic.html" %}

{% block content %}
  <h1>Liste des trips</h1>
  <div class="listView">
    {% if trips %}
    <table>
      <tbody class="tableView">
        {% for trip in trips%}
        <tr class="tableViewIdent">
            <td>
              {{ trip.name }}
               ({{trip.author}})
            </td>
        </tr>
        <tr class="tableViewBtn">
            <td>
              <button class="btnR">
                <a href="{{ trip.get_absolute_url }}"> Voir</a>
              </button>
            </td>
            <td>
              <button class="btnU">
                <a href="{% url 'trip-update' trip.pk %}"> Modifier</a>
              </button>
            </td>
            <td>
              <button class="btnD">
                <a href="{% url 'trip-delete' trip.pk%}"> Supprimer</a>
              </button>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Vous n'avez pas encore de trip.</p>
    {% endif %}

    <button class="btnC">
        <a href="{% url 'trip-create' %}">Ajouter un trip</a>
    </button>
  </div>
{% endblock %}
