{% extends "base_generic.html" %}

{% block content %}
    <h1>Les réservations planifiées pour mes clients</h1>

    {% if tripinstance_list %}
      <ul>

        {% for instance in tripinstance_list %}
        <li class="{% if instance.passed_deadline %}text-danger{% endif %}">
          <a href="{% url 'tripinstance-detail' instance.pk %}">{{ instance.id }}</a> - Trip : {{ instance.trip.name }} | (Date de début : {{ instance.start_date}})
          {% if instance.passed_deadline %} => Date de fin - {{instance.end_date}} dépassée !!{% endif %}
        </li>
        {% endfor %}
      </ul>

      {% else %}
        <p>Vous n'avez pas encore de trip de planifiés pour vos clients.</p>
    {% endif %}
{% endblock %}
