{% extends "base_generic.html" %}

{% block content %}
  <h1>Liste des réservations*</h1>
  <p>(* les différentes instances pour un même trip)</p>
  <div class="listView">
    {% if tripinstance_list %}
    <table>
      <tbody class="tableView">
        {% for tripinstance in tripinstance_list %}
        <tr class="tableViewIdent">
            <td>
              {{ tripinstance.id }}
                (Propriétaire : {{tripinstance.owner}})
            </td>
        </tr>
        <tr class="tableViewBtn">
            <td>
              <button class="btnR">
                <a href="{{ tripinstance.get_absolute_url }}"> Voir</a>
              </button>
            </td>
            <td>
              <button class="btnU">
                <a href="{% url 'tripinstance-update' tripinstance.id %}"> Modifier</a>
              </button>
            </td>
            <td>
              <button class="btnD">
                <a href="{% url 'tripinstance-delete' tripinstance.id %}"> Supprimer</a>
              </button>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Vous n'avez pas encore de réservation pour un trip en particulier.</p>
    {% endif %}

    <button class="btnC">
        <a href="{% url 'tripinstance-create' %}">Ajouter une réservation</a>
    </button>
  </div>
{% endblock %}
