{% extends "base_generic.html" %}

{% block content %}
    <h1>Les réservations planifiées</h1>

    {% if tripinstance_list %}
      <ul>

        {% for instance in tripinstance_list %}
        <li class="{% if instance.passed_deadline %}text-danger{% endif %}">
          <a href="{% url 'tripinstance-detail' instance.pk %}">{{ instance.id }}</a> (Propriétaire : {{ instance.owner}}) - Date de début : {{ instance.start_date}}
        </li>
        {% endfor %}
      </ul>

      {% else %}
        <p>Il n'y a pas encore de trip réservés.</p>
    {% endif %}
{% endblock %}
