{% extends "base_generic.html" %}

{% block content %}
  <h1>Trip : {{ trip.name }}</h1>
  <hr>
  <p>Auteur : {{ trip.author }}</p>
  <p>Description: {{ trip.description }}</p>
  <p>Randonnée : <a href="{{ trip.hiking.get_absolute_url }}"> {{ trip.hiking }}</a> </p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Réservations</h4>

    {% for instance in trip.tripinstance_set.all %}
      <hr />
      <p
        class="{% if instance.status == 'i' %}text-success{% elif instance.status == 'f' %}text-danger{% elif instance.status == 'b' %}text-info{% else %}text-warning{% endif %}">
        {{ instance.get_status_display }}
      </p>
      {% if instance.status != 'f' %}
        <p>Début Trip : {{ instance.start_date }}</p>
      {% endif %}
      <p>Id : {{ instance.id }}</p>
      <p>Propriétaire : {{ instance.owner }}</p>
    {% endfor %}
  </div>
  <hr>
  <table class="tableViewBtnDetail">
    <tr>
      <td>
        <button class="btnU">
          <a href="{% url 'trip-update' trip.pk %}"> Modifier</a>
        </button>
      </td>
      <td>
        <button class="btnD">
          <a href="{% url 'trip-delete' trip.pk%}"> Supprimer</a>
        </button>
      </td>
  </tr>
  </table>
{% endblock %}
