{% extends "base_generic.html" %}

{% block content %}
    <h1>Historique des toutes les réservations</h1>
    {% if tripinstance_list %}
        <ul>
        {% for instance in tripinstance_list %}
        <li class="{% if instance.passed_deadline %}text-danger{% endif %}">
            <a href="{% url 'tripinstance-detail' instance.pk %}">{{ instance.id }}</a>     - Propriétaire : {{instance.owner}} | Trip : {{ instance.trip.name }} | (Date de fin : {{ instance.end_date }})
                <!--|   <a href="{% url 'extend-trip-employee' instance.id %}">METTRE A JOUR DATE</a>  |-->
        </li>
        {% endfor %}
        </ul>

        {% else %}
        <p>Il n'y a pas encore de trip en gestion.</p>
    {% endif %}
{% endblock %}
