{% extends "base_generic.html" %}

{% block content %}
    <h1>Les réservation en cours</h1>

    {% if tripinstance_list %}
      <ul>

        {% for instance in tripinstance_list %}
        <li class="{% if instance.passed_deadline %}text-danger{% endif %}">
          <a href="{% url 'tripinstance-detail' instance.pk %}">{{ instance.id }}</a> (Propriétaire : {{ instance.owner}})
          {% if instance.passed_deadline %} => Date de fin - {{instance.end_date}} dépassée !!{% endif %}
        </li>
        {% endfor %}
      </ul>

      {% else %}
        <p>Il n'y a pas de trip en cours.</p>
    {% endif %}
{% endblock %}
